.button {
    color: var(--primary-color);

    overflow: hidden;

    &:hover {
        background-color: var(--primary-color);
        color: var(--bg-color);

        box-shadow: 0 0 45px 2px var(--primary-color);
        transition: background-color 0.5s box-shadow 1.3s;
    }

    &__border {
        position: absolute;
        left: 0;
        $duration: 5s;
        animation-duration: $duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes horizontal-top {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100%);
            }
        }

        &--top {
            top: 0px;
            width: 100%;
            height: 1px;
            background: linear-gradient(
                90deg,
                transparent,
                var(--primary-color)
            );

            animation-name: horizontal-top;
        }

        @keyframes horizontal-bottom {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        &--bottom {
            bottom: 0px;
            width: 100%;
            height: 1px;
            background: linear-gradient(
                to left,
                transparent,
                var(--primary-color)
            );

            animation-name: horizontal-bottom;
        }

        @keyframes vertical-left {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(-100%);
            }
        }

        &--left {
            top: 0px;
            width: 1px;
            height: 100%;
            background: linear-gradient(var(--primary-color), transparent);
            transform: translateY(100%);

            animation-name: vertical-left;
            animation-delay: $duration / 2;
        }

        @keyframes vertical-right {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(100%);
            }
        }

        &--right {
            top: 0;
            left: auto;
            right: 0;
            width: 1px;
            height: 100%;
            background: linear-gradient(
                to bottom,
                transparent,
                var(--primary-color)
            );
            transform: translateY(-100%);

            animation-name: vertical-right;
            animation-delay: $duration / 2;
        }
    }
}
