$cursorSize: 50px;

.cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $cursorSize;
    height: $cursorSize;
    border: 2px dotted var(--primary-color);
    border-radius: $cursorSize / 2;
    pointer-events: none;

    @media (hover: hover) {
        display: block;
    }
}

.cursorShadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $cursorSize;
    height: $cursorSize;

    border: 2px dotted var(--primary-color);
    border-radius: $cursorSize / 2;
    pointer-events: none;
    opacity: 0.3;

    @media (hover: hover) {
        display: block;
    }
}
