.scrollable {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--font-color);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 5px;
    }
}
