$burger-width: 32px;
$burger-height: 25px;

.burger {
    @include position(fixed, $spacing-s, $spacing-s);
    width: $burger-width;
    height: $burger-height;
    z-index: 15;

    &__belt {
        width: $burger-width;
        background-color: var(--font-color);
        transition: background-color 0.6s;

        &--first {
            transform-origin: center;
            transform: rotate(0deg) translateY(0);
            transition: 0.5s;
        }

        &--second {
            top: calc($burger-height / 2) - 2px;
            opacity: 1;
            transform: translateX(0%);
            transition: 0.5s;
        }

        &--third {
            transform: rotate(0deg);
            transition: 0.5s;
        }
    }

    &__label {
        @include position(absolute, auto, 0, -15px, 0);
        font-size: 10px;
        color: var(--font-color);
        transition: color 0.6s;
    }
}

.active.burger {
    .burger__belt {
        &--first {
            transform: translateY(calc($burger-height / 2) - 2px) rotate(45deg);
        }

        &--second {
            transform: translateX(-150%);
            opacity: 0;
            pointer-events: none;
        }

        &--third {
            transform: translateY(-(calc($burger-height / 2) - 2px))
                rotate(-45deg);
        }
    }
}

.mobileMenu {
    width: 100vw;
    height: var(--windowHeight);
    background-color: var(--bg-color);
    opacity: 0;
    overflow: hidden;
    z-index: 2;

    &__itemList {
        @include position(absolute, 50%, 50%);
        transform: translate(50%, -50%);
        width: 100%;
        max-width: 400px;
        z-index: 12;
    }

    &__item {
        margin-bottom: $spacing-xs;
        padding: 15px 0;
        width: 130px;

        font-size: 20px;
        text-align: right;
        text-transform: uppercase;

        opacity: 0;
        transform: translateX(20px);
        transition: 0.3s;

        $offset: 25px;

        &:nth-child(1) {
            margin-left: $offset * 4;
        }

        &:nth-child(2) {
            margin-left: $offset * 3;
        }

        &:nth-child(3) {
            margin-left: $offset * 2;
        }

        &:nth-child(4) {
            margin-left: $offset * 1;
        }

        &:nth-child(5) {
            margin-left: 0;
        }

        &.active {
            color: var(--primary-color);
        }
    }

    &__backgroundText {
        @include position(absolute, 50%, 30%);
        width: 600px;
        text-align: center;
        transform-origin: center center;
        transform: translate(50%, -50%) rotate(-70deg);
        font-family: 'Montserrat';
        font-size: 70px;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.2;
        z-index: 11;
    }

    &--close {
        pointer-events: none;
        opacity: 0;
        z-index: -2;
    }

    @include min-vw(l) {
        display: none;
        z-index: 0;
    }
}
