body * {
    @include min-vw(l) {
        // cursor: none;
    }
}

html {
    font-family: 'Roboto Mono', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: background-color 0.6s;
    overflow-x: hidden;
}

svg,
svg * {
    pointer-events: none;
}

h1,
h2 {
    font-family: 'Montserrat';
}

h2 {
    @include min-vw(xs) {
        font-size: 30px;
    }

    @include min-vw(s) {
        font-size: 36px;
    }

    @include min-vw(m) {
        font-size: 46px;
    }

    @include min-vw(l) {
        font-size: 54px;
    }
}

p {
    font-size: $mobile-font-size;
    @include min-vw(l) {
        font-size: $descop-font-size;
    }
}

strong {
    color: var(--primary-color);
}

.section {
    min-height: 100vh;
}
