body * {
    @include min-vw(l) {
        cursor: none;
    }
}

html {
    font-family: 'Roboto Mono', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    overflow-x: hidden;
}

.section {
    height: 100vh;
}
