html {
    --bg-color: #152028;
    --font-color: #eee;
    --bg-transparent-layer: #15202899;
    --vh: 100vh;
}

$spacing-xs: 10px;
$spacing-s: 15px;
$spacing-m: 20px;
$spacing-l: 25px;
$spacing-xl: 50px;
$spacing-xxl: 100px;
$spacing-xxxl: 150px;

$mobile-font-size: 16px;
$descop-font-size: 18px;

$breakpoints: (
    xs: 360px,
    s: 410px,
    m: 640px,
    l: 1024px,
    xl: 1200px,
    xxl: 1440px,
);
