html {
    --bg-color: #202945;
    --font-color: #eee;
    --bg-transparent-layer: #11111199;
}

$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 25px;
$spacing-xxl: 50px;

$mobile-font-size: 16px;
$descop-font-size: 18px;

$breakpoints: (
    xs: 360px,
    s: 410px,
    m: 640px,
    l: 1024px,
    xl: 1200px,
    xxl: 1440px,
);
