.main {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;

    &__background {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: -1;
    }
}

.hero {
    @include position(absolute, 30%, auto, auto, $spacing-m);
    transform: translateY(-50%);
    padding: $spacing-l;
    background-color: #11111199;

    @include min-vw(s) {
        left: $spacing-l;
    }

    @include min-vw(m) {
        left: $spacing-xl;
        top: 50%;
    }

    @include min-vw(l) {
        left: 100px;
    }

    @include min-vw(xl) {
        left: 150px;
    }

    &__heading {
        font-family: 'Montserrat';
        font-size: 36px;

        @include min-vw(s) {
            font-size: 40px;
        }

        @include min-vw(m) {
            font-size: 60px;
        }
    }

    &__subheading {
        margin: $spacing-m 0;
        font-size: 20px;
        font-weight: 400;

        @include min-vw(m) {
            margin: $spacing-xl 0;
            font-size: 24px;
        }
    }
}
