.main {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;

    &__background {
        width: 100%;
        max-width: 1300px;
        height: 60%;
        @include min-vw(m) {
            width: 70%;
            height: 100%;
        }
    }
}

.hero {
    @include position(absolute, 30%, auto, auto, $spacing-m);
    transform: translateY(-50%);

    @include min-vw(s) {
        left: $spacing-l;
    }

    @include min-vw(m) {
        left: $spacing-xl;
        top: 50%;
    }

    @include min-vw(l) {
        left: 100px;
    }

    &__heading {
        font-family: 'Montserrat';
        font-size: 36px;

        @include min-vw(s) {
            font-size: 40px;
        }

        @include min-vw(m) {
            font-size: 60px;
        }
    }

    &__subheading {
        margin: $spacing-m 0;
        font-size: 20px;
        font-weight: 400;

        @include min-vw(m) {
            margin: $spacing-xl 0;
            font-size: 24px;
        }
    }
}
