$aspectRatio: '8/5';

.technologies {
    display: flex;
    flex-direction: column;

    @media (min-aspect-ratio: $aspectRatio) {
        flex-direction: row;
        align-items: center;
    }

    @include min-vw(l) {
        margin: $spacing-l $spacing-xxxl $spacing-l $spacing-xxl;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 55%;
        flex-shrink: 0;

        padding: $spacing-s $spacing-s 0;
        overflow: hidden;

        @include min-vw(s) {
            padding: $spacing-l $spacing-l 0;
        }

        @include min-vw(m) {
            max-height: 350px;
        }

        @media (min-aspect-ratio: $aspectRatio) {
            padding: $spacing-s $spacing-s 0;
            max-height: 100%;
        }

        @include min-vw(l) {
            padding: $spacing-l $spacing-l 0 0;
            flex-basis: 50%;
        }
    }

    &__headingWrapper {
        margin: 0 auto $spacing-xs;
    }

    &__description {
        overflow-y: auto;
    }

    &__paragraph {
        margin-bottom: $spacing-xs;
        font-size: 15px;

        @include min-vw(xs) {
            font-size: 16px;
        }
    }

    &__board {
        flex-grow: 1;

        @media (min-aspect-ratio: $aspectRatio) {
            flex-basis: 50%;
            height: 100%;
        }

        @include min-vw(l) {
        }
    }
}

.technology {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 190px;

    &__iconWrapper {
        width: 100px;
        height: 100px;
        transform: translateY(0px);
        transition: 0.3s;
    }

    &__icon {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__name {
        @include position(absolute, auto, 0, 10px, 0);
        opacity: 0;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: bold;
        color: var(--primary-color);
        transition: 0.3s;
    }

    &:hover &__iconWrapper {
        transform: translateY(-20px);
    }

    &:hover &__name {
        opacity: 1;
    }

    &::after {
        content: '';
        @include position(absolute, 0, 0, 0, 0);
        background-color: var(--primary-color);
        backdrop-filter: blur(5px);
        opacity: 0.1;
    }
}
